#panicjourney {
    display:none;
}

#panicjourney-inner {
    margin: 10px;
}

#lostcardjourney {
    display:none;
}

#lostcardjourney-inner {
    margin: 10px;
}

#blockedcardjourney {
    display:none;
}

#blockedcardjourney-inner {
    margin: 10px;
}

#endlostcardjourney {
    display:none;
}

#endlostcardjourney-inner {
    margin: 10px;
}


#replacementcardjourney{
    display:none;
}

#replacementcardjourney-inner {
    margin: 10px;
}


#moneyaddedjourney{
    display:none;
}

#moneyaddedjourney-inner {
    margin: 10px;
}


#cardorderedjourney{
    display:none;
}

#cardorderedjourney-inner {
    margin: 10px;
}