@font-face {
    font-family: 'agenda-mediumregular';
    src: url('../fonts/agenda_medium-webfont.eot');
    src: url('../fonts/agenda_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/agenda_medium-webfont.woff') format('woff'),
         url('../fonts/agenda_medium-webfont.ttf') format('truetype'),
         url('../fonts/agenda_medium-webfont.svg#agenda-mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

#gradient{
   background: -webkit-linear-gradient(#0065A8, #062f61); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(#0065A8, #062f61); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(#0065A8, #062f61); /* For Firefox 3.6 to 15 */
   background: linear-gradient(#0065A8, #062f61); /* Standard syntax */
   font-family:"agenda-mediumregular";
}

body{height:100%;}
html{height:100%;}

.jqm-header, .ui-header, ui-bar-inherit{
    background:none;
}

.halifax_logo{height:40%; width:100%;}
#logo_container{width:40%; margin:0px auto;}

.blue_footer_button{background-color:#0043B4; border:0px; border-bottom:1px solid white; color:white;}
.grey_footer_button{background-color:white; border:0px; border-bottom:1px solid grey; color:#0043B4;}
.footer_grey{background-color: #F4F4F6;}
#footer{bottom:0px; width:100%; position:relative; bottom:0px;}
.footer{width:100%;}
.ui-btn{margin:0px;}


.map_canvas_container{height:400px; width:90%; margin:0px auto 30px auto;position:relative; display:none; background-color:white;}
#map-canvas {position:relative; height: 90%; width: 95%; margin: 5% auto 0px auto;top:20px; }
#click_me{margin-bottom:5%;}

.tagBox{background:white; width:90%; margin:0px auto;}

.white-background{
   background: -webkit-linear-gradient(#ffffff, #ffffff); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(#ffffff, #ffffff); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(#ffffff, #ffffff); /* For Firefox 3.6 to 15 */
   background: linear-gradient(#ffffff, #ffffff); /* Standard syntax */
   font-family:"agenda-mediumregular";
   display:block;
   text-align: center;
   width: 90%;
   margin: auto;
}

#welcome-left {
width: 50%;
float: left;
text-align: right;
}

#welcome-right {
width: 50%;
float: left;
text-align: left;
}




.padded-text {
    padding: 25px 50px;
}

.padded-menu {
    padding: 5px 5px;
}

#safety-net {
    margin: auto;
    overflow:hidden;
    width: 44%;
}

#button-div{
    margin:10px;
}


#safety-left {
float: left;
width: 30%;
height: 10%;
}

#safety-left img{
    height:6%;
}

#safety-right {
   float: left;
}
.clear-both {
   clear: both;
}


